<ion-content>
  <!-- <div class="p-8 shadow-xl rounded-md object-cover object-center bg-gray-500 opacity-90" style="background-image: url('assets/church.jpeg');">
    <img class="w-full mx-auto px-4 py-4 opacity-100" src="assets/logo2.png">
  </div> -->
  <!-- <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden cursor-pointer" routerLink="/renoveringar">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/entrance.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Fönsterrenoveringar</h2>
          <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
          <button class="flex mx-auto mt-6 text-white bg-primary-default border-0 py-2 px-5 focus:outline-none hover:bg-primary-shade rounded" routerLink="/renoveringar">Besök Sida</button>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden cursor-pointer" routerLink="/glaskonst">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/glasmalning/glasmalning.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Glaskonst</h2>
          <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
          <button class="flex mx-auto mt-6 text-white bg-secondary-default border-0 py-2 px-5 focus:outline-none hover:bg-secondary-shade rounded" routerLink="/glaskonst">Besök Sida</button>
        </div>
      </div>
    </div>
  </section> -->
  <div class="text-center mb-4 md:mb-20">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Glasmästeriet Blyglasdesign AB</h1>
    <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Dignissim fusce tortor,
      ac sed malesuada blandit. Et mi gravida sem feugiat.</p>
    <div class="flex mt-6 justify-center">
      <div class="w-16 h-1 rounded-full bg-primary-default inline-flex"></div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-between">
    <div class="flex flex-col justify-center items-center w-full md:max-w-sm mx-auto rounded-lg shadow-md">
      <div class="bg-gray-300 h-64 w-full bg-cover bg-center" style="background-image: url(assets/4.jpg)">
      </div>

      <div class="w-56 md:w-64 bg-white -mt-10 shadow-xl rounded-lg overflow-hidden">
        <h3 class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Fönsterrenoveringar</h3>

        <div class="flex items-center justify-center py-2 px-3 bg-gray-200">
          <!-- <span class="text-gray-800 font-bold ">$129</span> -->
          <button routerLink="/renoveringar"
            class="bg-primary-default text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Besök
            Sida</button>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center max-w-sm mx-auto rounded-lg shadow-md">
      <div class="bg-white h-64 w-64 bg-cover bg-center">
        <div class="h-full w-full flex items-center justify-center text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim fusce tortor,
          ac sed malesuada blandit. Et mi gravida sem feugiat.
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center w-full md:max-w-sm mx-auto rounded-lg shadow-md">
      <div class="bg-gray-300 h-64 w-full bg-cover bg-center"
        style="background-image: url(assets/glasmalning/glasmalning.jpg)"></div>

      <div class="w-56 md:w-64 bg-white -mt-10 shadow-lg rounded-lg overflow-hidden">
        <h3 class="py-2 text-center font-bold uppercase tracking-wide text-gray-800">Glasmålningar</h3>

        <div class="flex items-center justify-center py-2 px-3 bg-gray-200">
          <!-- <span class="text-gray-800 font-bold ">$129</span> -->
          <button routerLink="/glaskonst"
            class="bg-secondary-default text-xs text-white px-2 py-1 font-semibold rounded uppercase hover:bg-gray-700">Besök
            Sida</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>