<ion-content>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden cursor-pointer" routerLink="/renoveringar">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/entrance.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Fönsterrenoveringar</h2>
          <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
          <button class="flex mx-auto mt-6 text-white bg-primary-default border-0 py-2 px-5 focus:outline-none hover:bg-primary-shade rounded" routerLink="/renoveringar">Besök Sida</button>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden cursor-pointer" routerLink="/glaskonst">
            <img alt="content" class="object-cover object-center h-full w-full" src="assets/glasmalning/glasmalning.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Glaskonst</h2>
          <p class="leading-relaxed text-base">Williamsburg occupy sustainable snackwave gochujang. Pinterest cornhole brunch, slow-carb neutra irony.</p>
          <button class="flex mx-auto mt-6 text-gray-900 bg-secondary-default border-0 py-2 px-5 focus:outline-none hover:bg-secondary-shade rounded" routerLink="/glaskonst">Besök Sida</button>
        </div>
      </div>
    </div>
  </section>
</ion-content>